.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5A96E3;
    color: white;
    padding: 27px 100px 27px 46.5%;
}

.registerButton {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3E54AC;
    border: none;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 25px 100px;
    }

    .registerButton {
        margin-top: 15px;
    }
}