.wrapper {
    width: 100%;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm h4 {
    display: flex;
    align-items: center;
}

.registerForm h4::before{
    flex: 1;
    content: '';
    height: 1px;
    background-color: black;
    margin-right: 7px;
}

.registerForm h4::after{
    flex: 1;
    content: '';
    height: 1px;
    background-color: black;
    margin-left: 7px;
}

.registerForm input {
    margin: 7px 0 20px;
    padding: 10px 15px;
    border: 1px solid #AED2FF;
    border-radius: 7px;
    background-color: #E4F1FF;
}
.registerForm input::placeholder {
    color: #575757;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.controls button {
    width: 250px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #4d65c4;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.controls button:hover {
    background-color: #3E54AC;
    scale: 1.01;
}

.wrapper > h4 {
    padding-top: 40px;
    width: 100%;
    text-align: center;
}